<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b2c160">  <td>19/09/22 19:30:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGet.getRequestTest()[pri:0, instance:com.qa.rest.test.TestGet@573f2bb1]">getRequestTest</td> 
  <td>main@1413653265</td>   <td></td> </tr>
<tr bgcolor="b2c160">  <td>19/09/22 19:30:13</td>   <td>4149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGet.testStatusCode()[pri:0, instance:com.qa.rest.test.TestGet@573f2bb1]">testStatusCode</td> 
  <td>main@1413653265</td>   <td></td> </tr>
</table>
